{% extends "base.html" %}

{% load staticfiles %}
{% block title %}About{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <div id="center_div_content">
        <div style="width: 100%; float: left;">
            <img src="{% static 'Images/Author.jpg' %}" style="width: 100%" alt="Author.jpg">
        </div>
        <div style="width: 100%; float: left;">
            <div style="width: 100%;">
                <p style="margin-bottom: 5px;">Owner: Chizhov Daniil</p>
                <div style="text-align: center; margin-top: 10px;">
                    <a href="http://vk.com/chizh_off" target="_blank">
                        <img src="{% static 'Images/vk.png' %}" style="width: 40px" alt="vk"></a>
                    <a href="mailto:danchizh@gmail.com?Subject=Question%20about%20site" target="_top">
                        <img src="{% static 'Images/gmail.png' %}" style="width: 40px" alt="gmail"></a>
                </div>
                <div style="text-align: center; margin: 30px 20px;">
                    <p>Hello! I'm a student of IMCS UrFU, 3 course. I'm programmist. My favourite language is C++.
                        I'm a freelancer. I can write a program for you for money, just ask!</p>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div style="width: 100%; float: left; text-align: center;">
                <a href="http://urfu.ru/ru" target="_blank">
                    <img style="outline: 2px solid rgba(0, 0, 0, 0.3); margin: 4px 4px; height: 35px;" src="{% static 'Images/urfu.png' %}" alt="urfu.png"></a>
                <a href="http://imkn.urfu.ru" target="_blank">
                    <img style="outline: 2px solid rgba(0, 0, 0, 0.3); margin: 4px 4px; height: 35px;" src="{% static 'Images/math.jpg' %}" alt="math.jpg"></a>
                <a href="https://studytime.me" target="_blank">
                    <img style="outline: 2px solid rgba(0, 0, 0, 0.3); margin: 4px 4px; height: 35px;" src="{% static 'Images/study.png' %}" alt="study.png"></a>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}