{% extends "base.html" %}

{% block title %}Details{% endblock %}
{% block head %}
    <style>
        th { font-size: smaller; }
        td {
            text-align: center;
            font-size: smaller;
        }
        tr:nth-child(even) { background-color: #79aec8; }
        tr:nth-child(odd) { background-color: #E9EDF1; }
    </style>
{% endblock %}
{% block content %}
    <table style="width: inherit; border-collapse: collapse;">
        {% for visits_by_ip in all_visits_by_ip %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td title="{{ visits_by_ip.ip_address }}">{{ visits_by_ip.ip_address }}</td>
                <td title="{{ visits_by_ip.uri }}">{{ visits_by_ip.uri|truncatechars:40 }}</td>
                <td>{{ visits_by_ip.last_visit }}</td>
                <td>{{ visits_by_ip.visits }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
