{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Chi'Zha{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/only_index.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <div id="center_div_content">
        <div class="block_text_img">
            <div class="img_text"><img src="{% static 'Images/Words/5.jpg' %}" alt="w_05"></div>
            <div class="text">
                <div>Жизнь не в том, чтобы жить, а в том, чтобы чувствовать, что живешь.<br>В.О. Ключевский</div>
            </div>
        </div>
        <div class="block_text_img">
            <div class="text">
                <div>В конце концов, человеку дана всего одна жизнь – от чего же не прожить ее как следует?<br>Д. Лондон</div>
            </div>
            <div class="img_text"><img src="{% static 'Images/Words/2.jpg' %}" alt="w_02"></div>
        </div>
        <div class="block_text_img">
            <div class="img_text"><img src="{% static 'Images/Words/3.jpg' %}" alt="w_03"></div>
            <div class="text">
                <div>Правильного выбора в реальности не существует - есть только сделанный и его последствия.</div>
            </div>
        </div>
        <div class="block_text_img">
            <div class="text">
                <div>Если проблема имеет решение, то волноваться незачем, если решения нет, то волноваться бессмысленно. В этом весь принцип счастья.</div>
            </div>
            <div class="img_text"><img src="{% static 'Images/Words/4.jpg' %}" alt="w_04"></div>
        </div>
        <div class="block_text_img">
            <div class="img_text"><img src="{% static 'Images/Words/1.jpg' %}" alt="w_01"></div>
            <div class="text">
                <div>Все мы гении. Но если вы будете судить рыбу по её способности
                взбираться на дерево, она проживёт всю жизнь, считая себя дурой.</div>
            </div>
        </div>
        <div class="block_text_img">
            <div class="text">
                <div>Тайна наших несчастий в том, что у нас слишком много досуга для того, чтобы размышлять о том, счастливы мы или нет.
                <br>Д. Карнеги</div>
            </div>
            <div class="img_text"><img src="{% static 'Images/Words/6.jpg' %}"  alt="w_06"></div>
        </div>
        <div class="block_text_img">
            <div class="img_text"><img src="{% static 'Images/Words/7.jpg' %}" alt="w_07"></div>
            <div class="text">
                <div>Выход из зоны комфорта - единственный путь развития.</div>
            </div>
        </div>
        <div class="block_text_img">
            <div class="text">
                <div>Реалист - это тот, кому плевать на то, полон ли стакан наполовину или же он наполовину пуст. Для него важнее, что в стакане.</div>
            </div>
            <div class="img_text"><img src="{% static 'Images/Words/8.jpg' %}" alt="w_08"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="margin-top: 20px; background: #646BC3; color: #fff; text-align: center;">
            All visits: <span id="all_count">{{ user_visits }}</span><br>
            Last visit: <span id="last_date_count">{{ last_visit }}</span>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}